<header>
  <div class="logo" *ngIf="!searchView">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      width="512"
      height="512"
      viewBox="0 0 512 512"
      fill="none"
    >
      <g id="Group 1">
        <ellipse
          id="Ellipse 2"
          cx="256"
          cy="256"
          rx="256"
          ry="256"
          fill="#11FFBD"
        />
        <g id="Vector 1" filter="url(#filter0_d)">
          <path
            d="M241.095 216.378L382.197 75.7184L129.803 228.264L274.88 277.792L157.626 436.282L366.298 277.792L241.095 216.378Z"
            fill="#353B48"
          />
        </g>
      </g>
      <defs>
        <filter
          id="filter0_d"
          x="128.803"
          y="75.7184"
          width="253.394"
          height="365.563"
          filterUnits="userSpaceOnUse"
          color-interpolation-filters="sRGB"
        >
          <feFlood flood-opacity="0" result="BackgroundImageFix" />
          <feColorMatrix
            in="SourceAlpha"
            type="matrix"
            values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0"
          />
          <feOffset dx="-1" dy="5" />
          <feColorMatrix
            type="matrix"
            values="0 0 0 0 0.02625 0 0 0 0 0.7 0 0 0 0 0.513162 0 0 0 1 0"
          />
          <feBlend
            mode="normal"
            in2="BackgroundImageFix"
            result="effect1_dropShadow"
          />
          <feBlend
            mode="normal"
            in="SourceGraphic"
            in2="effect1_dropShadow"
            result="shape"
          />
        </filter>
      </defs>
    </svg>
    <div class="brand hide">
      Spotify
    </div>
  </div>
  <div
    class="search-box"
    (keyup)="handleSearch($event)"
    [ngClass]="{
      active: searchView
    }"
  >
    <i class="fas fa-search"></i
    ><input
      type="text"
      name="search"
      id="search"
      placeholder="Search songs, artists, genres..."
      autocomplete="off"
      (focus)="displaySearchView()"
      (blur)="hideSearchView()"
    />
    <i class="fas fa-times-circle"></i>
  </div>
  <div class="user-profile" *ngIf="!searchView">
    <img [src]="imageUrl" alt="profile" />
  </div>
</header>
